/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* HEADER */
.container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    background-color: lightblue;
}
/* Navbar */
.navbar{
    margin-top: .5em;
    background-color: darkgoldenrod;
    width: 70%;
    padding: .5em;
    max-width: 1200px;
    margin-bottom: .7em;
}
.bd{
    border: 2px dashed black;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: flex-start;
}

.navbar ul li a{
    text-decoration: none;
    color: black;
    margin: .5em;
}
/* /Navbar */

/* Jumbo */
.jumbo{
    background-color: darkblue;
}
.squarej{
    height: 300px;
    width: 60%;
    background-color: rgb(203, 13, 152);
    margin-top: 1em;
    margin-bottom: 1em;
}
/* MAIN */

/* Sezione 1 */
.container1{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.bluebar{
    width: 45%;
    padding: 20px;

    /* DEBUG */
    min-height: 300px;
    background-color: lightskyblue;
}

.pinkbar{
    width: 25%;
    padding: 20px;

    /* DEBUG */
    min-height: 300px;
    background-color: lightpink;
}
/* /Sezione 1 */
.rr{
    flex-direction: row-reverse;
}
/* Sezione 2 */

/* Sezione 4 */
.squareg{
    background-color: green;
    width: 70%;
    min-height: 600px;
}
.bcg{
    background-color: lightgray;
}
/* /Sezione 4 */
